#deck_content_container {
    background: rgba(255, 255, 255, 1);
    display: block; 
    /* margin: 25px auto 0; */
    width: 95%;
    z-index: 10; 
}
#deck_content_container h1 {
    background: rgba(255, 255, 255, 1);
    margin-bottom: 0; 
    padding-bottom: 20px; 
  position: fixed;
  text-align: center;
  width: 100%
}

#table_and_totals_container{
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    margin-top: 120px; 
    width: 100%; 
    z-index: 5; 
}
#button_container {
    display: flex; 
    justify-content: center; 
    /* padding-bottom: 50px;    */
}
#button_container button {
    margin: auto 5px; 
}
#totals {
    padding-left: 100px; 
}
#fixed_totals{
    margin-top: 75px; 
    position: fixed; 
}
#fixed_buttons {
    background: rgba(255, 255, 255, 1);
    margin-top: 80px;
    position: fixed;
}